<!-- *ngFor directive ile model length kadar sayfaya dinamik olarak element ekleyebiliriz. -->
<label>Sıralama Yap </label> &nbsp;
<!-- <select [(ngModel)]="sortType">
  <option value="asc">[A-Z]</option>
  <option value="desc">[Z-A]</option>
</select> -->

<!-- model deki değişimi ts dosyasından takip edemediğimiz caselerde bu durumda eventler ile ilgili operasyonları yapıyoruz. -->
<select (change)="onSortChange($event)">
  <option value="asc">[A-Z]</option>
  <option value="desc">[Z-A]</option>
</select>

sıralamaTipi : {{sortType}}

<div [ngSwitch]="sortType">
  <div *ngSwitchCase="'asc'">
    Isme göre A dan Z ye sıralar
  </div>
  <div *ngSwitchCase="'desc'">
    Isme göre Z den A ya sıralar
  </div>
  <div *ngSwitchDefault>
    API dan gelen hali ile sıralar
  </div>
</div>


<table [style.width]="'100%'">
  <thead>
    <tr>
      <th>Ad</th>
      <th>Soyad</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users2">
      <td>{{user.name}}</td>
      <td>{{user.surname}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phoneNumber}}</td>
    </tr>
  </tbody>
</table>